.postWrapper {
    width: 96%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-top: 1rem;
    overflow: hidden;
}
.infoSection {
    height: 3rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid rgba(240, 240, 240, 0.5);
    cursor: pointer
}
.author {
    font-size: 0.8rem;
}
.titleContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.postTitle {
    font-weight: 600;
}
.postImgContainer {
    width: 90%;
    min-height: 20rem;
    max-height: 40rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    object-fit: contain;
}
.selfTextContainer {
    width: 90%;
    text-align: start;
    margin: 2rem 0;
}
.postImage {
    width: 75%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}
.expandedContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 180;
}
.expandedPostContainer {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.expandedImage {
   height: 100%;
   object-fit: contain;
}
.close {
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show {
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.show:hover{
    background-color: rgba(240, 240, 240, 0.4);
    border-radius: 10px;
}
.imageButton {
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 50vh;
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close:hover,
.imageButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#left {
    left: 3rem
}
#right {
    right: 3rem
}
.galleryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.galleryImage {
    height: 15rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.upsSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.actionSectionContainer {
    height: 3rem;
    width: 90%;
    margin: 0.5rem 0;
    border-top: 1px solid rgba(240, 240, 240, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.up,
.down,
.upActive,
.downActive {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.2rem;
}
.up:hover,
.upActive {
    background-color: rgb(124, 199, 118);
}
.down:hover,
.downActive {
    background-color: rgb(199, 125, 118);
}
.commentSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 10px;
    cursor: pointer;
}
.commentSection:hover {
    background-color: rgba(240, 240, 240, 0.5);
}
.commentSection {
    padding-top: 1rem;
}
@media only screen and (max-width: 600px) {
    .expandedImage {
        width: 100%;
        height: auto;
    }
    #left {
        left: 0.2rem
    }
    #right {
        right: 0.2rem
    }
    .actionSectionContainer {
        justify-content: space-between;
    }
}